@{
  Layout ="_Layout";
}

<h2> Oops! You can't leave a field blank or enter a negative dollar amount. Please try again.</h2>

<h3><a href='/vendors/new'>Add a new vendor</a></h3>
<h3><a href='/vendors'>Add an Order for an existing vendor</h3></p>